<div class="container">
    <div class="row" style="border:1px solid #ccc">
        <div class="box-centent-driverplanner">
            <div class="col-md-12">
                <div class="col-md-2 promotionfilter">
                    <h3 style="color:#F18630"> OPTIMISATION PLANNER</h3>
                </div>
                <div class="form-group col-md-4" style="margin-top:10px">
                    <div class="col-md-2">
                        <label for="drug"> Drug </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="drugChosen" ng-options="drugChosen.name for drugChosen in drugs track by drugChosen._id" style="width:200px" ng-change="getDriverScenario(drugChosen._id)">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-top:10px">
                    <div class="col-md-3">
                        <label for="promotionactivity"> KPI </label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="kpi.name" style="width:120px">
                            <option value="Revenue">Revenue</option>
                            <option value="Volume">Volume</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3" style="margin-top:10px">
                    <div class="col-md-3">
                        <label for="promotionactivity"> Time Period </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="period.time" style="width:120px">
                            <option value="6">6 months</option>
                            <option value="12">12 months</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12"> -->
            <div class="col-md-6" style="margin-left:-50px;margin-bottom:10px">
                <a class="pull-right btn btn-primary analyse-button" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Scenario</a>
                <a class="pull-right btn btn-primary analyse-button" ng-click="DisplayMonthlyPlanning()"></i> Monthly Planning</a>
            </div>
            <!-- </div> -->
            <input type="hidden" id="displayScenario" ng-click="DisplayScenario()" style="margin-top:10px">
            <input type="hidden" id="getAllDriverScenario" ng-click="getDriverScenario(drugChosen._id)">
        </div>
    </div>
    <div>
        <input type="hidden" id="arrangePosition" ng-click="broadcast()">
        <input type="hidden" id="dataChartAdd" ng-click="addChartData(allscenarios)">
        <input type="hidden" id="dataChartAddRevenue" ng-click="dataChartAddRevenue(allscenarios)">
    </div>
    <div ng-show="displayScenario">
        <div class="vertical_scroll_driver ">
            <div gridster="gridsterOption">
                <ul>
                    <li gridster-item ng-repeat="scenario in allscenarios" size-x="6">
                        <div class="box">
                            <div class="box-header">
                                <h3>{{ scenario.name }}</h3>
                                <div class="box-header-btns pull-right">
                                    <a title="settings" ng-click="openSettings(scenario)"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a title="Remove scenario" ng-click="remove(scenario)"><i class="glyphicon glyphicon-trash"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="col-md-12" style="margin:auto">
                                    <div class="col-md-4">
                                        <table style="border:1px solid #ccc;margin:auto;width:100%">
                                            <thead style="text-align:center">
                                                <tr>
                                                    <th class="driver-tablehead" colspan="2">KOL Activity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="kol in scenario.KOLActivity.activities">
                                                    <td class="driver-tablerow" style="width:15%">{{kol.ActivityName}}</td>
                                                    <td>
                                                        <rzslider ng-if="kol.ActivityName == 'KOL Events'" rz-slider-model="kol.Impact" rz-slider-options="KOLevent.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                        <rzslider ng-if="kol.ActivityName == 'KOL Sponsorship'" rz-slider-model="kol.Impact" rz-slider-options="KOLSponsoship.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                        <rzslider ng-if="kol.ActivityName == 'Detailing Coverage'" rz-slider-model="kol.Impact" rz-slider-options="DetailingCoverage.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                    </td>
                                                    <!--   <td>{{kol.Impact}}</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <table style="border:1px solid #ccc;margin:auto;width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="driver-tablehead" colspan="2">Innovation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="innovation in scenario.Innovation.activities">
                                                    <td class="driver-tablerow" style="width:15%">{{innovation.ActivityName}}</td>
                                                    <td>
                                                        <rzslider ng-if="innovation.ActivityName == 'Innovation Impact'" rz-slider-model="innovation.Impact" rz-slider-options="InnovationImpact.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                        <rzslider ng-if="innovation.ActivityName == 'Innovation Duration'" rz-slider-model="innovation.Impact" rz-slider-options="InnovationDuration.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <table style="border:1px solid #ccc;margin:auto;width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="driver-tablehead" colspan="2">Sales And Discount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sales in scenario.Sales.activities">
                                                    <td class="driver-tablerow" style="width:15%">{{sales.ActivityName}}</td>
                                                    <td>
                                                        <rzslider ng-if="sales.ActivityName == 'Sales Coverage'" rz-slider-model="sales.Impact" rz-slider-options="SalesCoverage.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                        <rzslider ng-if="sales.ActivityName == 'Average Discount'" rz-slider-model="sales.Impact" rz-slider-options="SalesCoverage.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                        <rzslider ng-if="sales.ActivityName == 'Sales Frequency'" rz-slider-model="sales.Impact" rz-slider-options="SalesFrequency.options" style="margin-top:25px;margin-bottom:0px"></rzslider>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <input type="hidden" id="updateModel" ng-click="updateModel(scenario)">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div gridster="gridsterItem" style="margin-top:20px">
            <ul class="with-3d-shadow with-transitions">
                <li gridster-item="item" ng-repeat="item in standardItems">
                    <div class="box">
                        <div class="box-header">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="box-content">
                            <nvd3 ng-if="$index === 0" options="options" data="dataChart" config="config" api="item.api" events="events"></nvd3>
                            <nvd3 ng-if="$index === 1" options="optionsCat" data="dataChartRevenue" config="config" events="events" api="item.api"></nvd3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="displayMonthlyPlanning">
        <div class="vertical_scroll_Monthly">
            <div gridster="gridstermonthlyBudget">
                <ul>
                    <li gridster-item size-x="6" ng-repeat="event in monthlyBudget" class="gridster-item-basic">
                        <div class="box-basic">
                            <div class="box-header">
                                <h3>{{ event.name }}</h3>
                            </div>
                            <div class="box-content">
                                <table style="border:1px solid #ccc;margin:auto">
                                    <tr class="basic-tablehead">
                                        <th>Drivers</th>
                                        <th ng-repeat="month in months">{{month}}</th>
                                        <!-- <th>% Impact</th> -->
                                    </tr>
                                    <tr ng-repeat="monthbudget in event.monthlybudget" class="basic-tablerow">
                                        <td>{{ monthbudget.driver }}</td>
                                        <td ng-repeat="budget in monthbudget.month track by $index">
                                            <span inline-edit="budget" inline-edit-validation="myUpdateHandler($index,newValue)" inline-edit-filter="currency" inline-edit-on-blur="cancel"></span>
                                        </td>
                            </div>
                            </td>
                            </tr>
                            </table>
                            <input type="hidden" id="updateModel" ng-click="updateModel(event)">
                            <input type="hidden" id="countmonthlybudget" ng-click="countmonthlybudget()">
                        </div>
            </div>
            </li>
            </ul>
        </div>
    </div>
    <div ng-show="displayMonthlyPlanning">
        <div gridster="gridsterLineChart">
            <ul>
                <li gridster-item="brand" ng-repeat=" category in GridsterItemforLineChart" class="gridster-item-basic">
                    <div class="box-driver-linechart">
                        <div class="box-header">
                            <h3>{{ category.name }}</h3>
                        </div>
                        <div class="box-content">
                            <div ng-if="$index === 0" id="foodanddrink"></div>
                            <div ng-if="$index === 1" id="homecare"></div>
                            <div ng-if="$index === 2" id="personalcare"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
